{% extends 'base_auth.html' %}

{% block content %}
<div class="card shadow-lg border-0 rounded-lg mt-5">
    <div class="card-header">
        <h3 class="text-center font-weight-light my-4">Check Your Email</h3>
    </div>
    <div class="card-body">
        <div class="alert alert-success" role="alert">
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </div>
        <p class="small text-muted">If you don't receive an email, please make sure you've entered the address you
            registered with, and check your spam folder.</p>
        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
            <a class="btn btn-primary w-100" href="{% url 'login' %}">Return to login</a>
        </div>
    </div>
</div>
{% endblock %}